*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

:root{
    --bluee: #233ed9;
    --blackk: #0d0d0d;
    --whitee: #f2f2f2;
    --gray: #b4bfff;
    --shadow: rgba(0, 0, 0, 0.2)
}

body{
    background-color: var(--whitee);
}

header {
  background-color: var(--bluee);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 100px; 
  width: 100%;
  box-sizing: border-box;
}

.logo img {
  width: 150px; 
  height: auto;
  display: block;
}

nav ul.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 20px;
  padding: 0;
}

nav ul.nav-links li a {
  position: relative;
  text-decoration: none;
  color: var(--whitee);
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 4px;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--whitee);
  transition: width 0.6s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
  padding: 2.5rem;
  margin-top: -10px;
}

.card-main {
  flex: 1; 
}

.main h3{
    font-size: 4rem;
    color: var(--bluee);
}

.main span{
    font-style: italic;
    font-size: 16px;
}

.main p{
    margin-top: 50px;
    font-size: 22px;
}

.btn-main button{
    border: 2px solid var(--bluee);
    margin-top: 20px;
    border-radius: 50px;
    width: 180px;
    height: 60px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    transition: all 0.4s ease;
    box-shadow: 0 0 0 transparent;
    transform: scale(1);
}

.btn-main .btn-fala{
    background-color: var(--bluee);
    color: var(--whitee);
}

.btn-main .btn-fala:hover {
    background-color: var(--whitee);
    color: var(--bluee);
    box-shadow: 0 6px 18px var(--shadow);
    transform: scale(1.05);
}

.btn-main .btn-service{
    background-color: transparent;
    color: var(--bluee);
}

.btn-main .btn-service:hover {
    background-color: var(--bluee);
    color: var(--whitee);
    box-shadow: 0 6px 18px var(--shadow);
    transform: scale(1.05);
}


.img-credit {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-credit img {
  max-width: 60%;
  height: auto;
}


/*serviços*/

.our-service{
    margin-top: 80px;
    padding: 40px 30px;
}

.our-service .txt-title{
    text-align: center;
    color: var(--bluee);
    font-size: 3.5rem;
}

.our-service .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.our-service .card-service{
    width: 280px;
    padding: 20px;
    text-align: center;
    background-color: var(--bluee);
    height: auto;
    border-radius: 16px;
    transition: all 0.4s ease;
    box-shadow: 0 0 0 transparent;
    transform: scale(1);
    color: var(--whitee);
    cursor: pointer;
}

.our-service .card-service:hover{
    box-shadow: 0 6px 18px var(--shadow);
    transform: scale(1.05);
    background-color: var(--whitee);
    color: var(--bluee)
}

.card-service h4{
    font-size: 1.4rem;
    padding: 10px 20px;
    font-weight: bold;
}





















@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    section {
        flex-direction: column;
        text-align: center;
    }

    .btn-main button {
        width: 100%;
        margin-bottom: 10px;
    }

    .img-credit {
        margin-top: 20px;
    }
}